/* MusicForm.css */

.container {
  /* max-width: 500px; */
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
  height: fit-content;
  width: 500px;
}


.title-div,
.artist-dev,
.url-dev,
.lyrics-dev {
  margin-bottom: 15px;
}

.title-div p,
.artist-dev p,
.url-dev p {
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
 
}
.lyrics{
  font-weight: bold;
  

}


input[type="text"],
textarea {
  width: 100%;
 outline: none;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  width: 100%;
  height: fit-content;  
  /* padding: 8px; */
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  /* rows:"4" ;
  cols:"50"; */
}
button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}